*,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: antiquewhite;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: white;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 133px;
  border: 1px solid black;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 15px solid blue;
}

.cross {
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
}

.cross::after,
.cross::before {
  content: '';
  position: absolute;
  background-color: red;
}

.cross::before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
  }
.cross::after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}