*,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: antiquewhite;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: white;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 133px;
  height: 133px;
  border: 1px solid black;
  box-sizing: border-box;
}

.endGame{
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 32px;
  color: white;
  transition: 200ms ease-in-out;
  pointer-events: auto;
}

.endGame.active{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#restart{
  font-size: 30px;
  padding: 8px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

#restart:hover{
  border: 1px solid white;
  color: white;
  background-color: black;
}
